body,
ul,
li{
    margin: 0px;
    padding: 0px;
list-style: none;
font-size: 1.2rem;
color: #fff;
font-family: Montserrat;
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    background-color: #1e1d20;
     padding: 20px; 
 
}

.menu{
    justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
    color: #fff;
}
.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
}

/*body,
ul,
li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: #ffffff;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}

body{
    margin-bottom: 100px;
}

.header{
    background-color: #1d1e20;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;;
}

.menu li a{
    display: block;
    padding: 10px;
    /* background: tomato;*/ }
